
NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXTAUTH_URL='http://localhost:3000'
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.test.mongodb.net/blog_db?retryWrites=true&w=majority"
NEXTAUTH_SECRET="rfvdox6OMR6FaSdTIG+gjO8VhKgmGXiL3gNSLrcrYjQ="
